 img {
     max-width: 100%;
 }
 
 .contenedor {
     max-width: 1200px;
     margin: 0 auto;
 }
 
 .navegacion {
     font-size: 30px;
     text-decoration: none;
     color: white;
     background-color: orange;
     text-align: center;
 }
 
 .navegacion a {
     text-decoration: none;
     color: white;
     margin: 20px;
 }
 
 .barra {
     height: 100%;
     text-align: center;
 }
 
 .textos-productos {
     text-align: center;
 }
 /**Productos **/
 
 .contenedor-productos {
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     padding-left: 20px;
 }
 
 .producto {
     flex-shrink: 0;
     flex-basis: calc(33.3% - 10px);
     border: 1px solid #B5B5B5;
     background-color: #F5F5F5;
     margin-bottom: 2rem;
 }
 
 .producto img {
     max-width: 100%;
     ;
 }
 
 .imagen-producto {
     align-items: center;
 }
 
 .producto img:first-of-type {
     padding-left: 0px;
 }
 
 .contenido-contacto h2 {
     opacity: orange;
     padding: 50px 400px;
     display: block;
 }
 
 .contenido-contacto a {
     text-align: center;
 }
 
 .imagen-contacto {
     background-color: black;
     background-position: center center;
     background-size: cover;
     height: 200px;
     display: flex;
     align-items: center;
     color: white;
 }
 
 .footer {
     background-color: #333333;
     color: white;
     margin: 0;
     text-align: center;
     padding-bottom: 10px;
 }
 
 .navegacion-footer {
     font-size: 30px;
     text-decoration: none;
     color: white;
     text-align: center;
 }
 
 .navegacion-footer a {
     text-decoration: none;
     color: white;
     margin: 20px;
 }
 
 .boton {
     color: white;
     font-weight: 300;
     text-decoration: none;
     font-size: 20px;
     padding: 10px 30px;
     margin-top: -20px;
     background-color: olivedrab;
 }
 
 .contenido-contacto a {
     text-decoration: none;
 }